@charset "utf-8";
$orange: #FF6200;
$--color-primary: #4B97B4;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	src: url("./assets/fonts/Helvetica.ttf") format("ttf");
}

@media all and (display-mode: fullscreen) {
	body {
		* {
			box-sizing: border-box
		}
		
		margin: 0;
	}
}

html {
	font-family: "Roboto", sans-serif;
	
}

html, body, #app, section.section {
	* {
		box-sizing: border-box !important;
	}
	
	
}

a {
	all: unset;
}


.el-button {
	
	border: none !important;
	
}

.el-input__inner {
	
	line-height: 1 !important;
	
}

html {
	* {
		
		&::-webkit-scrollbar-thumb {
			height: 6px;
			border: 4px solid transparent;
			background-clip: padding-box;
			-webkit-border-radius: 7px;
			background-color: rgba(0, 0, 0, .15);
			-webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .05), inset 1px 1px 0 rgba(0, 0, 0, .05);
		}
		
		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}
		
		&::-webkit-scrollbar-button {
			width: 0;
			height: 0;
			display: none;
		}
		
		&::-webkit-scrollbar {
			width: 14px;
			height: 18px;
		}
	}
}

#app {
	height: 100vh;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch !important;
}


a {
	text-decoration: none;
	color: #000000;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.container {
	max-width: 850px;
	margin: 0 auto;
	
	&.is_mobile_device {
		max-width: 100%;
	}
}

.sub-container {
	max-width: 552px;
	width: 100%;
	margin-left: auto;
	margin-top: 78px;
	
	&.is_mobile_device {
		max-width: 100%;
		margin-top: 0 !important;
	}
}

.finish-warning {
	font-family: Roboto, sans-serif;
	font-size: 12px;
	color: darkgray;
}

.margin-auto {
	margin: 0 auto;
}

.label-subject {
	
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #6D7D85;
	text-transform: uppercase;
	
}

.upper-border {
	height: 2px;
	background: #4B97B4;
	box-shadow: 0px 0px 15px rgba(56, 56, 56, 0.05);
	border-radius: 2px;
	
}

.flex-end {
	
	display: flex;
	
	align-items: flex-end;
	
}

.username {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #1A1E22;
}

.flex-column {
	
	display: flex;
	flex-direction: column;
	
}

.flex-space-center {
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.flex-space-start {
	
	display: flex;
	align-items: start;
	justify-content: space-between;
	
}

.flex-column-center {
	
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

.flex-column-stretch {
	
	display: flex;
	align-items: stretch;
	flex-direction: column;
	
}


.flex {
	
	display: flex;
	
}

.flex-reverse {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.display__hidden {
	
	display: none;
	
}

.flex-wrap {
	
	display: flex;
	flex-wrap: wrap;
	
}

.flex-align-center {
	
	display: flex;
	align-items: center;
	
}

.flex-align-start {
	
	display: flex;
	align-items: start;
	
}

.fx-1 {
	flex: 1 0;
}

.subscribition {
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 13px;
	font-size: 10px;
	letter-spacing: -0.1px;
	font-variant: small-caps;
	color: #FFFFFF;
	
}

.invisible {
	visibility: hidden;
}

.v-center {
	display: flex !important;
	align-items: center !important;
	align-content: center !important;
	justify-content: center !important;
}

.text-center {
	text-align: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}

.pointer {
	cursor: pointer;
}

.cursor {
	cursor: auto;
}


.underline {
	text-decoration: underline;
}


.flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

//Poll styles

.explain-description {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 16px;
	font-size: 13px;
	color: #152D3A;
}

.comment-description {
	@extend .explain-description
}

.nickname {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: 15px;
	font-size: 13px;
	color: #152D3A;
	padding-right: 5px;
}

.tags {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: -0.2px;
	color: #4B97B4;
}


.poll-subject {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	font-size: 15px;
	color: #152D3A;
}

.poll-description {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #445761;
}

.load-span {
	cursor: pointer;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: -0.1px;
	font-variant: small-caps;
	color: #B6BEC2;
	padding-left: 40px;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	
	text-transform: lowercase;
	
}

.capitalize {
	text-transform: capitalize;
}

.primary-color {
	color: #4B96B3;
}

// Pictures

.picture-20x20 {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: cover;
}

.picture-22x22 {
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-size: cover;
}

.picture-25x25 {
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: cover;
}

.picture-30x30 {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: cover;
}

.picture-42x42 {
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-size: cover;
}

.rounded {
	border-radius: 50%;
}

.rounded-border {
	background: #BCBEC3;
	opacity: 0.7;
	box-shadow: 0px 0px 15px rgba(56, 56, 56, 0.05);
	border-radius: 2px;
	height: 0.9px;
}

//Avatars

.avatar-22x22 {
	width: 22px;
	height: 22px;
	border-radius: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 9px;
	flex-shrink: 0;
}

.avatar-30x30 {
	width: 30px;
	height: 30px;
	border-radius: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 9px;
	flex-shrink: 0;
}

.avatar-42x42 {
	
	width: 42px;
	height: 42px;
	border-radius: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 9px;
}

.avatar-90x90 {
	
	width: 90px;
	height: 90px;
	border-radius: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 9px;
}

.opacity {
	
	opacity: 0.4;
	
}

.normalOpacity {
	opacity: 1 !important;
	
}

.font-14 {
	
	font-size: 14px;
	
}

.font-13 {
	
	font-size: 13px;
	
}

.font-15 {
	
	font-size: 15px;
	
}

.avatar-25x25 {
	width: 25px;
	height: 25px;
	border-radius: 1000px;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	
}

// Height

.height-100 {
	height: 100%;
}

// Width

.max-width {
	width: 100%;
}

.width-90 {
	
	width: 90%;
	
}

//id

.span-id {
	
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 14px;
	font-size: 13px;
	letter-spacing: -0.1px;
	color: #445761;
	opacity: 0.8;
	
}

//Labels

.label {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #747474;
	
}

.label-daw-padding {
	
	padding-left: 9px;
	padding-right: 6px;
}

//borders

.border {
	
	border-top-color: #D0D5D9;
	border-top-width: 1px;
	border-top-style: solid;
	
}

//Radius


//Positions

.relative {
	position: relative;
}

.absolute {
	position: absolute !important;
}

// WIDTH & HEIGHT

@for $i from 0 through 100 {
	.w-#{$i} {
		width: $i + px !important;
	}
	.h-#{$i} {
		height: $i + px !important;
	}
}

.w-fit {
	width: fit-content !important;
}

.w-max {
	width: max-content !important;
}

.w-min {
	width: min-content !important;
}

.h-fit {
	height: fit-content !important;
}

.h-max {
	height: max-content !important;
}

.h-min {
	height: min-content !important;
}

// TOP, LEFT, BOTTOM, RIGHT

@for $i from 0 through 10 {
	.t-#{$i} {
		top: $i + px !important;
	}
	.l-#{$i} {
		left: $i + px !important;
	}
	.b-#{$i} {
		bottom: $i + px !important;
	}
	.r-#{$i} {
		right: $i + px !important;
	}
}

/////////////////

///////////////// BORDERS

@for $i from 0 through 50 {
	
	.br-#{$i} {
		border-radius: $i + px !important;
	}
	
}

//  Paddings and Margins

@for $i from 0 through 100 {
	.mr-#{$i} {
		margin-right: $i + px !important;
	}
	.mx-#{$i} {
		margin-left: $i + px !important;
		margin-right: $i + px !important;
	}
	.my-#{$i} {
		margin-top: $i + px !important;
		margin-bottom: $i + px !important;
	}
	.ml-#{$i} {
		margin-left: $i + px !important;
	}
	.mt-#{$i} {
		margin-top: $i + px !important;
	}
	.mb-#{$i} {
		margin-bottom: $i + px !important;
	}
	.px-#{$i} {
		padding-right: $i + px !important;
		padding-left: $i + px !important;
	}
	.py-#{$i} {
		padding-top: $i + px !important;
		padding-bottom: $i + px !important;
	}
	.pr-#{$i} {
		padding-right: $i + px !important;
	}
	.pl-#{$i} {
		padding-left: $i + px !important;
	}
	.pt-#{$i} {
		padding-top: $i + px !important;
	}
	.pb-#{$i} {
		padding-bottom: $i + px !important;
	}
	.p-#{$i} {
		padding: $i + px !important;
	}
	.m-#{$i} {
		margin: $i + px !important;
	}
}

.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.my-auto {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.mt-auto {
	margin-top: auto !important;
}

.mb-auto {
	margin-bottom: auto !important;
}

.ml-auto {
	margin-left: auto !important;
}

.mr-auto {
	margin-right: auto !important;
}

.m-auto {
	margin: auto !important;
}

////////

//borders

.border-b {
	
	border-bottom-color: #D0D5D9;
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
	
}

.border-t {
	
	border-top-color: #D0D5D9;
	border-top-style: solid;
	border-top-width: 0.5px;
	
}

.span-info {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	font-size: 15px;
	letter-spacing: -0.1px;
	color: #152D3A;
}

.statistic-border-left {
	border-left-width: 0.5px;
	border-left-style: solid;
	border-left-color: #E4E7E9;
}

.time {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 12px;
	font-size: 12px;
	letter-spacing: -0.2px;
	color: #69777F;
}

.wb {
	word-break: break-word;
}

.ws-no-warp {
	white-space: nowrap;
}

.text-deselect {
	user-select: none !important;
}

.trim {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.trim-clip {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

//Icons

.primary-font {
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #1A1E22;
}

//Buttons


.primary-btn, .primary-btn:active, .primary-btn:focus, .primary-btn:hover {
	
	background: #4B97B4;
	border-radius: 24px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	font-variant: small-caps;
	color: #FFFFFF;
	mix-blend-mode: normal;
	font-variant-caps: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	border: none;
	
}


.secondary-btn, .secondary-btn:active, .secondary-btn:focus, .secondary-btn:hover {
	
	@extend .primary-btn;
	
	background: #C4C4C4;
	
	
}

.btn-animated:hover {
	transform: scale(1.02);
	border: none;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	transition: 150ms;
}

@media only screen and (min-width: 300px) and (max-width: 765px) {
	.sub-container {
		max-width: 100%;
		margin-top: 0 !important;
	}
	html {
		*::-webkit-scrollbar {
			display: none !important; /* Chrome Safari */
			width: 0 !important;
		}
	}
}

//@media screen and (orientation: landscape) {
//	html {
//		transform: rotate(-90deg);
//		transform-origin: left top;
//		width: 100vh;
//		height: 100vw;
//		overflow-x: hidden;
//		position: absolute;
//		top: 100%;
//		left: 0;
//	}
//}


//Colors

.bg-white {
	background-color: #fff !important;
}

.br-error {
	border: 1px solid #f56c6c;
}

.br-transparent {
	border: 1px solid transparent;
}

.br-gray {
	border: 1px solid #e7e9eb;
}

.out-error {
	outline: 1px solid #f56c6c;
}

.out-transparent {
	outline: 1px solid transparent;
}

.out-gray {
	outline: 1px solid #e7e9eb;
}

.hr {
	height: 1px;
	border-bottom: 1px solid #bcbec3;
}